<%- include header.ejs%>
<body>
<%- include('../include/menu.ejs',{user:user}) %>

        <div style="display:table; margin-left:auto;margin-right:auto; text-align:center; width:20%">
        <h3><%= folder.name%></h3>
        <% if(folder.write || user.user.admin == true){%>
            <button class="btn btn-info dropdown-toggle" type="button" onclick="window.location.href = '/folder/<%= folder.name%>/upload/file'"><span class="glyphicon glyphicon-upload"></span> Upload File</button>
        <%}%>
            <br>
            <br>
        <table style="table-layout:fixed; width:100%;">

            <%var rowNumber = 4 % folder.files.length;
            if(folder.files.length < 4 && folder.files.length !== 0){
                rowNumber = 1;
            }

            %>
            <%var cellPerRow = folder.files.length % 4; %>
            <%var rowCount= 1;%>
            <%var cellCount = 1;
            console.log('inside ejs');
            console.log('rowNumber: '+rowNumber);
            console.log('cellPerRow: '+cellPerRow);
            console.log('rowCount: '+rowCount);
            console.log('cellCount: '+cellCount);

            %>
            <% for(rowCount; rowCount <= rowNumber; rowCount++){
                console.log('row loop');
                console.log('row count: '+rowNumber);
            %>
            <tr>
                <% for(cellCount; cellCount <= cellPerRow; cellCount++){
                    console.log('cell loop');
                    console.log('cell count: '+cellCount); %>
                <td>

                        <figure>
                            <a style = "text-decoration: none;" href="/folder/<%= folder.name%>/<%= folder.files[cellCount-1].name%>">
                                <img src="../images/file.png">
                                <figcaption><%= folder.files[cellCount-1].name %></figcaption>
                            </a>
                        </figure>
                    <%if(user.user.admin === true||folder.write == true){%>
                        <div class="container" style="width:100%">
                            <div style="display:table; margin-left:auto;margin-right:auto; text-align:center;" class="dropdown">
                                <button class="btn btn-info dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                                    <span class="glyphicon-glyphicon-cog"></span>
                                    Edit
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/rename/folder/<%= folder.name%>/file/<%=folder.files[cellCount-1].name%>">Rename</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/folder/<%= folder.name%>/delete/file/<%=folder.files[cellCount-1].name%>">Delete</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit Permissions</a></li>
                                </ul>
                            </div>
                        </div>
                    <%}%>

                </td>
                <%}%>
            </tr>
            <%}%>
        </table>
        </div>
<%- include footer.ejs%>