<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
	<a class="navbar-brand" href="#"><i class="fa fa-star"></i> Admin Control</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#adminDropDown" aria-controls="adminDropDown" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fa fa-chevron-circle-down"></i>
	</button>
	<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="adminDropDown">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" onclick="showCreateProject()" href="#"><i class="fa fa-archive"></i> Create New Project<span class="sr-only"></span></a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="usersMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-user"></i> Users
				</a>
				<div class="dropdown-menu" aria-labelledby="usersMenu">
					<%if(user.admin){%>
					<%for(var i=0; i < users.length; i++) {%>
					<%if(!users[i].authCode){%>
						<a href ="/users/user/<%= users[i].id%>" class ="dropdown-item" ><i class="fa fa-user-circle-o"></i> <%= users[i].firstname %> <%= users[i].lastname %> </a>
					<%}%>
					<%}%>
					<div class="dropdown-divider"></div>
					<a class ="dropdown-item" href="/users/invite"><i class="fa fa-envelope"></i> Invite User</a>
					<a class ="dropdown-item" href="/users/delete"><i class="fa fa-minus"></i> Delete User</a>
					<%}%>
				</div>
			</li>
		</ul>
	</div>
</nav>
<script src="/scripts/adminNav.js"></script>
<div style="display:none;" id="createProj" class="container">
	<div class="body" style="padding:40px 50px;">
		<div class="center-div form-width">
			<form id="fileForm" role="form" method="post">
				<label for="name" class="align-left"><i class="fa fa-archive"></i> <b>Project Name:</b></label>
				<input type="text" class="form-control" name="name" id="name" placeholder="Project Name">
				<br>
				<a onclick="showUsers()" class="btn btn-dark"  style="color:#f8f9fa;"><span style="color:#28a745;"><i class="fa fa-plus"></i></span> Add Existing User</a>
				<div style="display:none;" id="usersDiv">
					<%var displayed = 0;%>
					Select a User: <select id="userSelect">
						<%for(var i = 0; i < users.length; i++){%>
							<%if(!users[i].admin && users[i].id !== user.id){%>
								<option value="<%= users[i].id%>"> <%= users[i].getFullName()%></option>
								<%displayed++%>
							<%}%>
						<%}%>
						<%if(displayed === 0){%>
							<option>No Users Found</option>
						<%}%>
					</select>
				</div>
			</form>
			<a onclick="showInvite()" class="btn btn-dark"  style="color:#f8f9fa;"><span style="color:#28a745;"><i class="fa fa-envelope"></i></span> Invite New User</a>
			<div id="inviteUser" style= "display:none" class = "center-div">
				<div id="error">
						<p id="fnErr" style="display: none; color:red; font-size:12px; text-align:left;">*Enter a First Name</p>
						<p id="lnErr" style="display: none; color:red; font-size:12px; text-align:left;">*Enter a Last Name</p>
						<p id="emailErr" style="display: none; color:red; font-size:12px; text-align:left;">*Enter a Valid Email</p>
				</div>
				<form role="form" method="post" onsubmit="return validate()">
					<div class="align-left">
							<label for="firstname"><span class="glyphicon glyphicon-user"></span>  First Name</label>
					</div>
					<input type="text" name="firstname" id="firstname" class="form-control" oninput="checkFnInput(this)" placeholder="First Name">

					<br>
					<div class="align-left">
						<label for="lastname"><span class="glyphicon glyphicon-user"></span> Last Name</label>
					</div>

					<input type="text" name="lastname" id="lastname" class="form-control" oninput="checkLnInput(this)" placeholder="Last Name">
					<br>
					<div class="align-left">
						<label for="email"><span class="glyphicon glyphicon-envelope"></span> E-mail</label>
					</div>
					<input type="text" name="email" id="email" class="form-control" oninput="checkEmailInput(this)" placeholder="E-mail">

					<br>
					</form>
				</div>
		</div>

	<button type="submit" class="btn btn-dark btn-block" ><span class="glyphicon glyphicon-off"></span> Create</button>
</div>
<hr>
