<%var id;
var name;
    if(user.admin){
        name = project.name;
        id = project.id;
    }else{
        name = project.projectName;
        id = project.projectId;
   }
%>

<nav style="border: 1px solid #343a40;" id="projNav" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/projects/project/<%= id%>"><i class="fa fa-archive "></i> Project <%= name %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#projectDropDown" aria-controls="projectDropDown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-chevron-circle-down"></i>
    </button>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="projectDropDown">
        <ul class="navbar-nav ml-auto">
            <%if(user.admin){
                var renameJson = JSON.stringify({name:name,type:'Project'});
            %>
                <li class="nav-item active">
                    <a  class="nav-link" href="#" onclick="modal.display('new folder')"><i class="fa fa-folder-open"></i> New Folder</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="projSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog"></i> Project Settings
                    </a>
                    <div class="dropdown-menu" aria-labelledby="projSettings">
                        <button type="button" onclick="modal.display('rename',<%=renameJson%>)" class="dropdown-item"><i class="fa fa-pencil"></i> Rename</button>
                        <button type="button" name="<%=name%>" id="<%=id%>" onclick="modal.perform('confirm project delete',this);" class="dropdown-item"><i class="fa fa-minus-square-o"></i> Delete</button>
                        <div class="dropdown-divider"></div>
                        <% var obj = project;
                        var jsonProject = JSON.stringify(obj);
                        %>
                        <button type="button" onclick="modal.perform('edit project perm',<%=jsonProject%>)" class="dropdown-item"><i class="fa fa-user"></i> Permissions</button>
                    </div>
                </li>
            <%}%>
        </ul>
    </div>
</nav>