<%- include header.ejs%>

            <div class="content">
                <div id = "header"  style="padding:35px 50px;">
                    <h4><span class="glyphicon glyphicon-lock"></span> Account Creation for <%= name%> </h4>
                </div>
                <div class="body" style="padding:40px 50px;">
                    <div class="form-group">
                        <form action="/" method="get">
                            <label>Account Successfully Created for <%= name%></label>
                            <p>Name: <%= name%></p>
                            <p>E-mail: <%= email%></p>
                            <p style="font-size:12px;">** Please store your password in a secure location **</p>
                            <button type="submit" class="btn btn-info btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
                        </form>
                    </div>
                </div>
            </div>

<%- include footer.ejs%>