<%- include header.ejs%>
<%- include('../include/menu.ejs',{user:user})%>
<div class="content">
    <div id = "header"  style="padding:35px 50px;">
        <h4>Rename File <%= file%></h4>
    </div>
    <div class="body" style="padding:40px 50px;">
		<div class = "center-div form-width">
			<form method="post">
			<div class="form-group align-left">
				<label for="name"><span class="glyphicon glyphicon-file"></span> Current Name</label><br>
				<p><%= file%></p>
			</div>
			<div class="form-group align-left">
				<label for="name"><span class="glyphicon glyphicon-pencil"></span> New Name</label>
				<input type="text" class="form-control" name="name" id="name" placeholder="New File Name">
			</div>
			<div class="center-div button-width">
			<button type="submit" class="btn btn-info btn-block"><span class="glyphicon glyphicon-off"></span> Rename </button>
			</div>
		</form>
		</div>
    </div>
</div>
<%- include footer.ejs%>