<%var profileName = profileUser.firstname+' '+profileUser.lastname%>
<%- include('../../include/app/head.ejs',{title: profileName+' Profile'})%>
<body>
<%- include('../../include/app/adminNav.ejs') %>
<div class="bg-dark"  id = "pageHeader"  style="padding:35px 50px; width:100%;">
    <h1 class="bg-dark" ><i class="fa fa-user-circle-o"></i> <%= profileUser.firstname%> <%=profileUser.lastname%></h1>
</div>
<% var projects = profileUser.projectPermissions%>
<br>
<div class="container">
    <div class="row">
    <div class="col">
        <% if(!profileUser.admin){ %>
            <button type="submit" name="<%= profileUser.firstname%> <%=profileUser.lastname%> " id="<%= profileUser.id%>" onclick="modal.perform('confirm delete user',this)" class="btn btn-danger "><i class="fa fa-minus"></i> Delete User Account</button>
        <%}%>
        <br>
    <div class="card">
        <h5 class="card-header"><i class="fa fa-info"></i> User Information</h5>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <b><i class="fa fa-user"></i> First Name:</b> <%= profileUser.firstname%>
                </div>
                <div class="col">

                    <b><i class="fa fa-envelope"></i> E-mail:</b> <%= profileUser.email%>
                </div>
            </div>
            <div class="row">
                <div class ="col">
                    <b><i class="fa fa-user"></i> Last Name:</b> <%= profileUser.lastname%>
                </div>
                <div class ="col">
                    <b><i class="fa fa-phone"></i> Phone:</b> <%= profileUser.phone%>
                </div>
            </div>
        </div>
    </div>
        <div>
            <div class="card">
                <h5 class="card-header"><i class="fa fa-eye"></i> Activity</h5>
                <div class="card-body">
                    <%for(var l = 0; l < profileUser.activity.length; l++){
                        var curActivity = profileUser.activity[l];
                    %>
                        <div class="row">
                            <p><b><%= curActivity.date%>:</b> <%= curActivity.action%> <%= curActivity.targetType%> <%= curActivity.target%></p>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<%- include('../../include/app/foot.ejs')%>