<%- include('../include/head.ejs',{title:folder.name,scripts:false})%>
<body>
<%- include('../include/menu.ejs',{system:system}) %>

<% var user = system.getUserInfo()%>
<%- include('../include/folderNav.ejs',{system:system,project:project,folder:folder})%>
<div class="bg-secondary" id = "header"  style="padding:35px 50px;border: 1px solid #343a40;">
    <h4 class="bg-secondary" ><i class="fa fa-folder fa-lg" ></i>  <%= folder.name%></h4>
</div>
<br>
<div style="display:table; margin-left:auto;margin-right:auto;text-align:center;">
    <div style="display:table; margin-left:auto;margin-right:auto; text-align:center; width:40%">
        <table style="border-collapse:separate; border-spacing:10px 10px; width:100%;">
            <% var entitys = folder.getFiles()%>
            <% var totalCells = entitys.length%>
            <% var fullRows = Math.floor(entitys.length/2)%>
            <% var partialRowCount = entitys.length % 2 %>
            <% var rows = fullRows+1%>
            <% var cellCount = 0%>

            <%for(var i = 0; i < rows; i++){
                console.log('row count: '+i);
            %>
            <tr>
                <%var cellsInRow = 2%>
                <%if(i === fullRows){
                    cellsInRow = partialRowCount;
                }%>
                <%for(var j = 0; j < cellsInRow; j++){
                    console.log('cellCount: '+cellCount);
                %>
                <td style="padding: 0 10px 0 10px;">
                    <%if(user.admin || entitys[cellCount].write){%>

                        <div class="dropdown">
                            <button style = "background-color:transparent; font-size:16px" class="btn btn-lg dropdown-toggle" type="button" id="projSettings" data-toggle="dropdown" aria-haspopup ="true" aria-expanded="false">
                                <i class="fa fa-pencil"></i> Edit
                            </button>
                            <div class="dropdown-menu" aria-labelledby="projSettings">
                                <%var path;%>
                                <%if(entitys[cellCount].isFolder){
                                    path = "./"+folder.id+"/folders/delete?id="+entitys[cellCount].getId();
                                }else{
                                    path = "./"+folder.id+"/files/delete?id="+entitys[cellCount].getId();
                                }%>
                                <button class="dropdown-item" type="button">Rename</button>
                                <form action="<%= path%>" method="post">
                                    <button type="submit" class="dropdown-item">Delete</button>
                                </form>
                                    <% if(user.admin){%>
                                        <div class="dropdown-divider"></div>
                                        <button class="dropdown-item" type="button">Permissions</button>
                                    <%}%>
                            </div>
                        </div>
                    <%}%>
                        <%if(entitys[cellCount].isFolder){%>

                            <a style = "text-decoration: none; color:#343a40;" href="projects/<%= project.id%>/folders/folder/<%= entitys[cellCount].getId()%>">
                                <i class="fa fa-folder fa-3x"></i>
                                <br>
                                <span style="font-size:14px;"><%= entitys[cellCount].getName()%></span>
                            </a>
                        <%}else if(entitys[cellCount].ext){var ext = entitys[cellCount].ext;%>
                            <a style = "text-decoration: none; color:#343a40;" href="./<%= project.id%>/files?id=<%= entitys[cellCount].getId()%>">
                            <%if(ext === '.pdf'){%>
                                <i class="fa fa-file-pdf-o fa-3x"></i>
                            <%}else if(ext  === '.docx'|| ext === '.doc'){%>
                                <i class="fa fa-file-word-o fa-3x"></i>
                            <%}else if(ext === '.jpg'||ext ==='.jpeg'||ext === '.png'||ext === '.bmp'||ext==='.gif'){%>
                                <i class="fa fa-file-image-o fa-3x"></i>
                            <%}else if(ext === '.ppt' || ext === '.pptx'){%>
                                <i class="fa fa-file-powerpoint-o fa-3x"></i>
                            <%}else if(ext ==='.txt'){%>
                                <i class="fa fa-file-text-o fa-3x"></i>
                            <%}else if( ext === '.zip'||ext==='.rar'||ext ==='.7z'){%>
                                <i class="fa fa-file-zip-o fa-3x"></i>
                            <%}else if(ext === '.java'||ext ==='.js'||ext==='.py'||ext==='.cs'||ext==='.php'||ext==='.html'||ext==='.css'){%>
                                <i class="fa fa-file-code-o fa-3x"></i>
                            <%}else{%>
                                <i class="fa fa-file-file-o fa-3x"></i>
                            <%}%>
                                <br>
                                <span id="iconLabel" style="font-size:16px;"><%= entitys[cellCount].getName()%></span>
                            </a>
                        <%}%>
                        <br>


                    <%cellCount++%>
                    <%}%>
            </tr>
            <%}%>
        </table>
    </div>
</div>
<%- include('../include/foot.ejs')%>