<%- include('../include/head.ejs',{title:'File System Home',scripts:false})%>
<body>
<%- include('../include/menu.ejs',{system:system}) %>
<% var user = system.getUserInfo()%>

<div id="header" style="padding:35px 50px; width:100%;">
    <h1> <i class="fa fa-user-circle-o " ></i> Welcome <%= user.firstname %></h1>
</div>
<br>
    <div style="display:table; margin-left:auto;margin-right:auto;text-align:center;">

    <div style="display:table; margin-left:auto;margin-right:auto; text-align:center; width:40%">
        <table style="border-collapse:separate; border-spacing:10px 10px; width:100%;">
            <% var projects = user.getProjects()%>
            <% var totalCells = projects.length%>
            <% var fullRows = Math.floor(projects.length/3)%>
            <% var partialRowCount = projects.length % 3 %>
            <% var rows = fullRows+1%>
            <% var cellCount = 0%>

            <%for(var i = 0; i < rows; i++){
                console.log('row count: '+i);
            %>
                <tr>
                <%var cellsInRow = 3%>
                <%if(i === fullRows){
                    cellsInRow = partialRowCount;
                }%>
                <%for(var j = 0; j < cellsInRow; j++){
                    console.log('cellCount: '+cellCount);
                %>
                    <td style="padding: 0 10px 0 10px;">
                        <%if(user.admin){%>
                            <div class="dropdown">
                                <button style = "background-color:transparent; font-size:16px" class="btn btn-lg dropdown-toggle" type="button" id="projSettings" data-toggle="dropdown" aria-haspopup ="true" aria-expanded="false">
                                    <i class="fa fa-pencil"></i> Edit
                                </button>
                                <div class="dropdown-menu" aria-labelledby="projSettings">
                                    <button class="dropdown-item" type="button">Rename</button>
                                    <form action="/projects/project/<%= projects[cellCount].id%>/delete%>" method="post">
                                        <button type="submit" class="dropdown-item">Delete</button>
                                    </form>
                                        <div class="dropdown-divider"></div>
                                        <button class="dropdown-item" type="button">Permissions</button>
                                </div>
                            </div>
                        <%}%>
                        <a style = "text-decoration: none; color:#343a40;" href="/projects/project/<%= projects[cellCount].getId()%>">
                            <i class="fa fa-archive fa-3x"></i><br><%= projects[cellCount].getName()%>
                        </a>
                    <%cellCount++%>
                <%}%>
                </tr>
            <%}%>
        </table>
    </div>
    </div>
<%- include('../include/foot.ejs')%>
