<%- include header.ejs%>
<body>
<%- include('../include/menu.ejs',{user:user}) %>
    <div style="display:table; margin-left:auto;margin-right:auto;" id="header">
        <h1>Welcome <%= user.user.firstname %></h1>
    </div>
    <div style="display:table; margin-left:auto;margin-right:auto; text-align:center;">
        <h3>My Folders</h3>
        <table>

            <%var rowNumber = 4 % user.user.folders.length;
				if(user.user.folders.length < 4 && user.user.folders.length !== 0){
					rowNumber = 1;
				}
			
			%>
            <%var cellPerRow = user.user.folders.length % 4; %>
            <%var rowCount= 1;%>
            <%var cellCount = 1; 
				console.log('inside ejs');
				console.log('rowNumber: '+rowNumber);
				console.log('cellPerRow: '+cellPerRow);
				console.log('rowCount: '+rowCount);
				console.log('cellCount: '+cellCount);
			
			%>
            <% for(rowCount; rowCount <= rowNumber; rowCount++){
                console.log('row loop');
                console.log('row count: '+rowNumber);
            %>
                <tr>
                    <% for(cellCount; cellCount <= cellPerRow; cellCount++){
                        console.log('cell loop');
                        console.log('cell count: '+cellCount); %>
                        <td style="padding: 0 10px 0 10px;">
                            <div>
                                <figure>
                                    <a style = "text-decoration: none;" href="/folder/<%= user.user.folders[cellCount-1].name%>">
                                        <img src="../images/folder.png">
                                        <figcaption><%= user.user.folders[cellCount-1].name %></figcaption>
                                    </a>
                                </figure>
                             </div>
                        </td>
                    <%}%>
                </tr>
            <%}%>
        </table>
    </div>
<%- include footer.ejs %>