<%- include header.ejs%>
<%- include('../include/menu.ejs',{user:user})%>
<div class="content">
    <div id = "header"  style="padding:35px 50px;">
        <h4>Upload File to <%= folder%></h4>
    </div>
    <div class="body" style="padding:40px 50px;">
		<div class = "center-div form-width">
		<form id="fileForm" role="form" method="post">
			<div class="form-group align-left">
				<label for="name"><span class="glyphicon glyphicon-user"></span> File Upload</label>
				<input type="file" class="form-control" name="input" id="input" onchange="setData()">
				<input type="hidden" name="data" id="data">
			</div>
			<div class="form-group align-left">
				<label for="retype"><span class="glyphicon glyphicon-user"></span> User Permissions</label>
				<br>
				<% for(var i=0; i < user.userRepo.users.length; i++) {%>
					<% if(user.userRepo.users[i].admin !== true && user.userRepo.users[i].id !== user.user.id){%>
						<div id="<%= user.userRepo.users[i].id %>">
							<input type="checkbox" name="users" onclick="showPermissions('<%= user.userRepo.users[i].id %>')" value="<%= user.userRepo.users[i].id %>"><%= user.userRepo.users[i].firstname+' '+user.userRepo.users[i].lastname%>
						</div>
					<%}%>
				<% } %>
			</div>
			<div class="center-div button-width">
			<button type="submit" class="btn btn-info btn-block"><span class="glyphicon glyphicon-off"></span> Upload</button>
			</div>
		</form>
		</div>
    </div>
</div>
<%- include footer.ejs%>