<%- include('../../include/head.ejs',{title:'Folder',scripts:false})%>
<body>
<%if(user.admin){%>
    <%- include('../../include/adminNav.ejs') %>
<%}else{%>
    <%- include('../../include/menu.ejs') %>
<%}%>
<div class="bg-secondary" id = "header"  style="padding:35px 50px;">
    <h4 class="bg-secondary" ><i class="fa fa-folder fa-lg" ></i>  <%= folder.name%></h4>
</div>
<br>
<% if(user.admin){%>
    <%- include('../../include/modal.ejs')%>
<%}%>
<% var files = folder.files%>
<% var totalCells = files.length%>
<% var fullRows = Math.floor(files.length/3)%>
<% var partialRowCount = files.length % 3 %>
<% var rows = fullRows+1%>
<% var cellCount1 = 0%>
<% var cellCount2 = 0%>
<% var cellCount3 = 0%>
<div class="container">

    <%for(var i = 0; i < rows; i++){%>
        <%var cellsInRow = 3%>
        <%if(i === fullRows){
            cellsInRow = partialRowCount;
        }%>

        <div style="text-align:center;" class="row">
            <%for(var k = 0; k < cellsInRow; k++){%>
                <div class="col">
                    <div class="dropdown">
                        <button style = "background-color:transparent; font-size:12px" class="btn btn-lg dropdown-toggle" type="button" id="projSettings" data-toggle="dropdown" aria-haspopup ="true" aria-expanded="false">
                            <i class="fa fa-cog"></i> Options
                        </button>
                        <div class="dropdown-menu" aria-labelledby="projSettings">
                            <form action = "" method="get">
                                <button class="dropdown-item" type="submit"><i class="fa fa-eye"></i> View</button>
                            </form>
                            <% if(user.admin){ %>
                                <form action = "" method="get">
                                    <input type="hidden" name="folder" id = "folder" value="">
                                    <button class="dropdown-item" type="submit"><i class="fa fa-download"></i> Download</button>
                                </form>
                            <%}else{%>
                                <%if(permission.download){%>
                                    <form action = "" method="get">
                                        <input type="hidden" name="folder" id = "folder" value="">
                                        <button class="dropdown-item" type="submit"><i class="fa fa-download"></i> Download</button>
                                    </form>
                                <%}%>
                            <%}%>
                            <%if(user.admin){%>
                                <form action = "" method="get">
                                    <input type="hidden" name="folder" id = "folder" value="">
                                    <button class="dropdown-item" type="submit"><i class="fa fa-pencil"></i> Rename</button>
                                </form>
                                <form action="" method="post">
                                    <input type="hidden" name="folder" id = "folder" value="">
                                    <button type="submit" class="dropdown-item"><i class="fa fa-minus-square-o"></i>  Delete</button>
                                </form>
                            <%}%>
                        </div>
                    </div>
                </div>
                <%cellCount1++%>
            <%}%>
        </div>
        <div style="text-align:center;" class="row">
            <%for(let l = 0; l < cellsInRow; l++){
                var file = files[cellCount2]
            %>
            <div class="col">


                <a style = "text-decoration: none; color:#343a40;" >
                    <%if(ext === '.pdf'){%>
                        <i class="fa fa-file-pdf-o fa-3x"></i>
                    <%}else if(ext  === '.docx'|| ext === '.doc'){%>
                        <i class="fa fa-file-word-o fa-3x"></i>
                    <%}else if(ext === '.jpg'||ext ==='.jpeg'||ext === '.png'||ext === '.bmp'||ext==='.gif'){%>
                        <i class="fa fa-file-image-o fa-3x"></i>
                    <%}else if(ext === '.ppt' || ext === '.pptx'){%>
                        <i class="fa fa-file-powerpoint-o fa-3x"></i>
                    <%}else if(ext === '.xlsx'){%>
                        <i class="fa fa-file-excel-o fa-3x"></i>
                    <%}else if(ext ==='.txt'){%>
                        <i class="fa fa-file-text-o fa-3x"></i>
                    <%}else if( ext === '.zip'||ext==='.rar'||ext ==='.7z'){%>
                        <i class="fa fa-file-zip-o fa-3x"></i>
                    <%}else if(ext === '.java'||ext ==='.js'||ext==='.py'||ext==='.cs'||ext==='.php'||ext==='.html'||ext==='.css'){%>
                        <i class="fa fa-file-code-o fa-3x"></i>
                    <%}else{%>
                        <i class="fa fa-file-file-o fa-3x"></i>
                    <%}%>
                </a>
                    <%cellCount2++%>
                <%}%>
            </div>

        </div>
        <div style="text-align:center;" class="row">
            <%for(let m = 0; m < cellsInRow; m++){%>
                <div class="col">
                    <a style = "text-decoration: none; color:#343a40;" href="">
                        <%= files[cellCount3].name%>
                    </a>
                </div>
                <%cellCount3++%>
            <%}%>
        </div>
    <%}%>
</div>
<%- include('../../include/foot.ejs')%>