<%- include header.ejs%>
<body>
<%- include ../include/menu.ejs %>
    <div id="header">
        <h1>Welcome <%= user.firstname %></h1>
    </div>
    <div>
        <% for(var i=0; i< folders.length; i++){%>
            <div>
                <figure>
                    <a style = "text-decoration: none;" href="/folder/<%= folders[i].name%>">
                        <img src="../images/folder.png">
                        <figcaption><%= folders[i].name %></figcaption>
                    </a>
                </figure>
            </div>
        <%}%>
    </div>
<%- include footer.ejs %>