<%- include header.ejs%>
<%- include('../include/menu.ejs')%>
<div class="content">
    <div id = "header"  style="padding:35px 50px;">
        <h4><span class="glyphicon glyphicon-lock"></span> Upload File to <%= folder.name%></h4>
    </div>
    <div class="body" style="padding:40px 50px;">
		<form id="fileForm" role="form" method="post">
			<div class="form-group">
				<label for="name"><span class="glyphicon glyphicon-user"></span> File Upload</label>
				<input type="file" class="form-control" name="input" id="input" onchange="setData()">
				<input type="hidden" name="data" id="data">
			</div>
			<div class="form-group">
				<label for="retype"><span class="glyphicon glyphicon-user"></span> User Permissions</label>
				<br>
				<% for(var i=0; i < users.length; i++) {%>
					<% if(users[i].admin !== true && users[i].id !== user.id){%>
						<input type="checkbox" name="users" id="users" value="<%= users[i].id%>"><%= users[i].firstname+' '+users[i].lastname %><br>
					<%}%>
				<% } %>
			</div>
			<button type="submit" class="btn btn-info btn-block"><span class="glyphicon glyphicon-off"></span> Upload</button>
		</form>
    </div>
</div>
<%- include footer.ejs%>