<%- include('../include/head.ejs',{title:'New ProjectContent',scripts:'add.js'})%>
<body>
<%- include('../include/menu.ejs',{system:system}) %>
<% var user = system.user%>
<% var users = system.users%>
<div class= "bg-dark" id = "header"  style="padding:35px 50px;">
    <h4 class= "bg-dark" ><i class="fa fa-archive fa-lg" ></i>  New ProjectContent</h4>
</div>
<div class="content">
    <div class="body" style="padding:40px 50px;">
        <div class="center-div form-width">
        <form id="fileForm" role="form" method="post">
            <label for="name" class="align-left"><i class="fa fa-archive"></i> <b>ProjectContent Name:</b></label>
                <input type="text" class="form-control" name="name" id="name" placeholder="ProjectContent Name">
                <br>
                <label for="retype" class="align-left"><i class="fa fa-users"></i><b> User Permissions:</b></label>
                <%if(users.length > 0){%>
                <br><p style="font-style:italic;">No Users Found</p>
                <%}%>
                <% for(var i = 0; i < users.length; i++) {%>
                    <% if(users[i].admin !== true && users[i].id !== user.id && !users[i].authCode){%>
                    <div id="<%= users[i].id %>">
                        &nbsp;&nbsp;&nbsp;&nbsp;<b><%= users[i].getFullName()%>:</b>
                        <select name="<%= users[i].id %>" id="<%= users[i].id %>">
                            <option value="none">None</option>
                            <option value="read">Read</option>
                            <option value="upload">Read/Upload</option>
                            <option value="write">Read/Edit/Upload</option>
                        </select>
                    </div>
                    <%}%>
                <% } %>
            <br>
            <button type="submit" class="btn btn-dark btn-block" ><span class="glyphicon glyphicon-off"></span> Create</button>
        </form>
        </div>
    </div>
</div>
<%- include('../include/foot.ejs')%>