<%- include('../include/head.ejs',{title:'New Project',scripts:'add.js'})%>
<body>
<%- include('../include/menu.ejs',{system:system}) %>
<% var user = system.getUserInfo()%>
<% var users = system.getAllUsers()%>
<div class="content">
        <div class= "bg-dark" id = "header"  style="padding:35px 50px;">
            <h4 class= "bg-dark" ><i class="fa fa-archive fa-lg" ></i>  New Project</h4>
        </div>
    <div class="body" style="padding:40px 50px;">
        <div class="center-div form-width">
        <form id="fileForm" role="form" method="post">
                <p id="err" style="color:red; visibility:visible; font-size:12px;">*That Project Name Already Exists</p>
                <label for="name" class="align-left"><span class="glyphicon glyphicon-folder-open"></span> Project Name</label>
                <input style="background-color:pink" type="text" class="form-control" oninput="checkInput(this) "name="name" id="name" value="<%= name%>" placeholder="Project Name">
                <br>
                <%if(users.length > 0){%>
                <label for="retype" class="align-left"><span class="glyphicon glyphicon-cog"></span> User Permissions</label>
                <%}%>
                <% for(var i = 0; i < users.length; i++) {%>
                    <% if(users[i].getAdmin() !== true && users[i].getId() !== user.getId() && !users[i].authCode){%>
                            <div id="<%= users[i].getId() %>">
                                    <input type="checkbox" name="users" onclick="showPermissions('<%= users[i].getId() %>')" value="<%= users[i].id %>"> <%= users[i].getFullName()%>
                            </div>
                    <%}%>
                <% } %>
            <br>
            <button type="submit" class="btn btn-dark btn-block" ><span class="glyphicon glyphicon-off"></span> Create</button>
        </form>
        </div>
    </div>
</div>
<%- include('../include/foot.ejs')%>