<%  var folders;
    var projectName

    if(user.admin){
        folders = project.folders;
        projectName = project.name;
    }else{
        folders = project.folderPermissions;
        projectName = project.projectName;
    }
%>
<%- include('../include/head.ejs',{title:'Project '+projectName})%>
<body>
<%if(user.admin){%>
    <%- include('../include/adminNav.ejs') %>
<%}else{%>
    <%- include('../include/menu.ejs') %>
<%}%>
<%- include('../include/projectNav.ejs') %>
<div class="bg-dark" id="pageHeader"  style="padding:35px 50px;">
    <h1 class="bg-dark" ><i class="fa fa-archive" ></i>  Project <%= projectName%></h1>
</div>
<br>
<% if(user.admin){%>
    <%- include('../include/modal.ejs')%>
<%}%>
<div style="padding-top:20px;" class="center">
    <div style="text-align:center; padding-top:20px;padding-bottom:20px " class="row">
    <%for(var i = 0; i <folders.length; i++){%>
        <%var id;var projectId;%>
            <div style="text-align:left;padding-left:30px" class="col">
                <%if(user.admin){id = folders[i].id;projectId = project.id;%>
                <div style="text-align:center;" class="dropdown">
                    <button style = "background-color:transparent; font-size:12px" class="btn btn-lg dropdown-toggle" type="button" id="projSettings" data-toggle="dropdown" aria-haspopup ="true" aria-expanded="false">
                        <i class="fa fa-cog"></i> Options
                    </button>
                    <div class="dropdown-menu" aria-labelledby="projSettings">
                        <form action="/projects/project/<%=projectId%>/folders/folder/<%=id%>/delete" method="post">
                            <button type="submit" class="dropdown-item"><i class="fa fa-minus"></i> Delete</button>
                        </form>
                    </div>
                </div>
                <%}else{
                    id = folders[i].folderId;
                    projectId = project.id;
                }%>
                <a style = "text-decoration: none; color:#343a40;" href="./<%= projectId%>/folders/folder/<%= id%>">
                    <div style="text-align:center;">
                            <% if(i <= 6){%>
                            <i style="color:#17a2b8;" class="fa fa-folder-open fa-3x "></i>
                            <%}else{%>
                                <i class="fa fa-folder-open fa-3x"></i>
                            <%}%>
                        <br>
                        <b><%= folders[i].name%></b>
                    </div>
                </a>
            </div>
    <%}%>

</div>
</div>
<%- include('../include/foot.ejs')%>