<%- include header.ejs%>
<%- include('../include/menu.ejs',{user:user})%>
<div class="content">
    <div id = "header"  style="padding:35px 50px;">
        <h4><span class="glyphicon glyphicon-lock"></span> Create Folder</h4>
    </div>
    <div class="body" style="padding:40px 50px;">
        <form id="fileForm" role="form" method="post">
            <div class="form-group">
                <label for="name"><span class="glyphicon glyphicon-user" placeholder="Folder Name"></span> Create Folder</label>
                <input type="text" class="form-control" name="name" id="name">
            </div>
            <div class="form-group">
                <label for="retype"><span class="glyphicon glyphicon-user"></span> User Permissions</label>
                <br>
                <% for(var i=0; i < user.userRepo.users.length; i++) {%>
                    <% if(user.userRepo.users[i].admin !== true && user.userRepo.users[i].id !== user.user.id){%>
                        <input type="checkbox" name="users" id="users" value="<%= user.userRepo.users[i].id%>"><%= user.user.users[i].firstname+' '+ user.userRepo.users[i].lastname %><br>
                        <select name ="user<%= i%>">
                            <option value=1 selected>Read</option>
                            <option value=2>Read/Write</option>
                        </select>
                    <%}%>
                <% } %>
            </div>
            <button type="submit" class="btn btn-info btn-block"><span class="glyphicon glyphicon-off"></span> Create Folder</button>
        </form>
    </div>
</div>
<%- include footer.ejs%>