<%- include('../include/head.ejs',{title:'New Project',scripts:'add.js'})%>
<body>
<%- include('../include/menu.ejs',{system:system}) %>
<% var user = system.getUserInfo()%>
<% var users = system.getAllUsers()%>
<div class="content">
    <div id = "header"  style="padding:35px 50px;">
        <h4><i class="fa fa-archive fa-lg" ></i>  New Project</h4>
    </div>
    <div class="body" style="padding:40px 50px;">
        <div class="center-div form-width">
        <form id="fileForm" role="form" method="post">
            <label for="name" class="align-left"><i class="fa fa-archive"></i> <b>Project Name:</b></label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Project Name">
                <br>
                <%if(users.length > 0){%>
                <label for="retype" class="align-left"><i class="fa fa-users"></i><b> User Permissions:</b></label>
                <%}%>
                <% for(var i = 0; i < users.length; i++) {%>
                    <% if(users[i].getAdmin() !== true && users[i].getId() !== user.getId() && !users[i].authCode){%>
                    <div id="<%= users[i].getId() %>">
                        &nbsp;&nbsp;&nbsp;&nbsp;<b><%= users[i].getFullName()%>:</b>
                        <select name="<%= users[i].getId() %>" id="<%= users[i].getId() %>">
                            <option value="none">None</option>
                            <option value="write">Read Only</option>
                            <option value="read">Read/Write/Edit</option>
                        </select>
                    </div>
                    <%}%>
                <% } %>
            <br>
            <button type="submit" class="btn btn-dark btn-block" ><span class="glyphicon glyphicon-off"></span> Create</button>
        </form>
        </div>
    </div>
</div>
<%- include('../include/foot.ejs')%>