<%- include('../include/head.ejs',{title:'File System Home',scripts:false})%>
<body>
<%- include('../include/menu.ejs',{system:system}) %>

<% var user = system.getUserInfo()%>
<%- include('../include/projectNav.ejs',{system:system,project:project})%>
<br>
<div style="display:table; margin-left:auto;margin-right:auto;text-align:center;">
    <div style="display:table; margin-left:auto;margin-right:auto; text-align:center; width:40%">
        <table style="border-collapse:separate; border-spacing:10px 10px; width:100%;">
            <% var entitys = project.getEntitys()%>
            <% var totalCells = entitys.length%>
            <% var fullRows = Math.floor(entitys.length/2)%>
            <% var partialRowCount = entitys.length % 2 %>
            <% var rows = fullRows+1%>
            <% var cellCount = 0%>

            <%for(var i = 0; i < rows; i++){
                console.log('row count: '+i);
            %>
            <tr>
                <%var cellsInRow = 2%>
                <%if(i === fullRows){
                    cellsInRow = partialRowCount;
                }%>
                <%for(var j = 0; j < cellsInRow; j++){
                    console.log('cellCount: '+cellCount);
                %>
                <td style="padding: 0 10px 0 10px;">

                        <%if(entitys[cellCount].isFolder){%>

                            <a style = "text-decoration: none; color:#343a40;" href="projects/<%= project.id%>/folders?id=<%= entitys[cellCount].getId()%>"><i class="fa fa-folder fa-4x"></i><%= entitys[cellCount].getName()%></a>
                        <%}else if(entitys[cellCount].ext){var ext = entitys[cellCount].ext;%>
                            <a style = "text-decoration: none; color:#343a40;" href="./<%= project.id%>/files?id=<%= entitys[cellCount].getId()%>">
                            <%if(ext === '.pdf'){%>
                                <i class="fa fa-file-pdf-o fa-4x"></i>
                            <%}else if(ext  === '.docx'|| ext === '.doc'){%>
                                <i class="fa fa-file-word-o fa-4x"></i>
                            <%}else if(ext === '.jpg'||ext ==='.jpeg'||ext === '.png'||ext === '.bmp'||ext==='.gif'){%>
                                <i class="fa fa-file-image-o fa-4x"></i>
                            <%}else if(ext === '.ppt' || ext === '.pptx'){%>
                                <i class="fa fa-file-powerpoint-o fa-4x"></i>
                            <%}else if(ext ==='.txt'){%>
                                <i class="fa fa-file-text-o fa-4x"></i>
                            <%}else if( ext === '.zip'||ext==='.rar'||ext ==='.7z'){%>
                                <i class="fa fa-file-zip-o fa-4x"></i>
                            <%}else if(ext === '.java'||ext ==='.js'||ext==='.py'||ext==='.cs'||ext==='.php'||ext==='.html'||ext==='.css'){%>
                                <i class="fa fa-file-code-o fa-4x"></i>
                            <%}else{%>
                                <i class="fa fa-file-file-o fa-4x"></i>
                            <%}%>
                                <%= entitys[cellCount].getName()%>
                            </a>
                        <%}%>
                        <br>


                    <%cellCount++%>
                    <%}%>
            </tr>
            <%}%>
        </table>
    </div>
</div>
<%- include('../include/foot.ejs')%>