<%- include('../include/head.ejs',{title:'Account Created',options:{}})%>
<body>
            <div class="content">
                <div id = "header"  style="padding:35px 50px;">
                    <h4><span class="glyphicon glyphicon-lock"></span> Account Creation </h4>
                    <h3><%= name%></h3>
                </div>
                <div class="body" style="padding:40px 50px;">
                    <div class="form-group">
                        <div class = "center-div form-width">
                        <form action="/dashboard" method="get">
                            <label>Account Created for <%= name%></label>
                            <p>Name: <%= name%></p>
                            <p>E-mail: <%= email%></p>
                            <p style="font-size:12px;">** Please store your password in a secure location **</p>
                            <div class="center-div button-width">
                            <button type="submit" class="btn btn-info btn-block"><span class="glyphicon glyphicon-off"></span> Dashboard</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

<%- include('../include/foot.ejs')%>