<%- include header.ejs%>

<div class="content">
    <div id = "header"  style="padding:35px 50px;">
        <h4><span class="glyphicon glyphicon-lock"></span> Folder <%= folder.name%> Created </h4>
    </div>
    <div class="body" style="padding:40px 50px;">
        <div class="form-group">
            <form role="form" action="/dashboard" method="get">
                <div style="display:table;margin-left:auto;margin-right:auto;">
                    <label>Folder <%= folder.name%> Successfully Created</label>
                    <br>
                    <br>
                    <label>Folder Admin:</label>
                    <br>
                    <p><%= folder.admin.firstname%> <%= folder.admin.lastname%></p>
                    <br>
                    <label>User Permissions:</label>
                    <%for(var i = 0; i < permissions.length; i++){

                    %>
                        <p><%= permissions[i].firstname%> <%= permissions[i].lastname%></p>
                    <%}%>
                    <br>
                    <br>

                    <button type="submit" class="btn btn-info btn-block"><span class="glyphicon glyphicon-off"></span> Return to Dashboard</button>
                </div>
            </form>
        </div>

    </div>
</div>

<%- include footer.ejs%>