<%- include('../include/head.ejs',{title:'User Profile',scripts:false})%>
<body>
<%- include('../include/adminNav.ejs') %>
<div class="bg-dark" id="header" style="padding:35px 50px; width:100%;">
    <h1 class="bg-dark" ><i class="fa fa-user-circle-o fa-2x"></i> <%= user.firstname%> <%=user.lastname%></h1>
</div>
<% var projects = user.projectPermissions%>
<br>
<div class="container">
    <div class="row">
    <div class="col">
        <form action="/users/<%=user.id%>/delete" method="post">
            <button type="submit"  id="new" class="btn btn-danger "><i class="fa fa-minus"></i> Delete User Account</button>
        </form>
        <br>
    <div class="card">
        <h5 class="card-header"><i class="fa fa-info"></i> User Information</h5>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <b><i class="fa fa-user"></i> First Name:</b> <%= user.firstname%>
                </div>
                <div class="col">

                    <b><i class="fa fa-envelope"></i> E-mail:</b> <%= user.email%>
                </div>
            </div>
            <div class="row">
                <div class ="col">
                    <b><i class="fa fa-user"></i> Last Name:</b> <%= user.lastname%>
                </div>
                <div class ="col">
                    <b><i class="fa fa-phone"></i> Phone:</b> <%= user.phone%>
                </div>
            </div>
        </div>
    </div>
        <div>
            <div class="card">
                <h5 class="card-header"><i class="fa fa-eye"></i> Activity</h5>
                <div class="card-body">
                    <%for(var l = 0; l < user.activity.length; l++){
                        var curActivity = user.activity[l];
                    %>
                        <div class="row">
                            <p><b><%= curActivity.date%>:</b> <%= curActivity.action%> <%= curActivity.targetType%> <%= curActivity.target%></p>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<%- include('../include/foot.ejs')%>