<%- include('../include/head.ejs',{title:'My ProjectsRepo',scripts:false})%>
<body>
<%- include('../include/menu.ejs',{system:system}) %>
<div class="bg-dark" id="header" style="padding:35px 50px; width:100%;">
    <h1 class="bg-dark" ><i class="fa fa-user-circle-o fa-2x"></i> <%= user.getFullName()%></h1>
</div>
<% var projects = user.projectPermissions%>
<br>
<div class="container">
    <div class="row">
    <div class="col">
    <div class="card">
        <h5 class="card-header"><i class="fa fa-info"></i> User Information</h5>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <b><i class="fa fa-user"></i> First Name:</b> <%= user.firstname%>
                </div>
                <div class="col">

                    <b><i class="fa fa-envelope"></i> E-mail:</b> <%= user.email%>
                </div>
            </div>
            <div class="row">
                <div class ="col">
                    <b><i class="fa fa-user"></i> Last Name:</b> <%= user.lastname%>
                </div>
                <div class ="col">
                    <b><i class="fa fa-phone"></i> Phone:</b> <%= user.phone%>
                </div>
            </div>
        </div>
    </div>
        <div class="card">
            <h5 class="card-header"><i class="fa fa-archive"></i> ProjectsRepo</h5>
            <div class="card-body">
        <div class="row">
        <%for(var i = 0; i < projects.length; i++){%>
            <div class="col">
            <div class="card">
                <h5 class="card-header"><i class="fa fa-archive"></i> ProjectContent <%= projects[i].name%></h5>
                <div class="card-body">
                    <h5 class="card-title">Permissions</h5>
                        <% if(user.admin){%>
                            - Administrative(View,Edit,Upload and Delete);
                        <%}else{%>
                            <% if(projects[i].read){%>
                                - View Assigned Folders and Files
                            <%}%>
                            <% if(projects[i].write){%>
                                - Upload Files to ProjectContent Folder
                                - Delete and Edit ProjectContent Files/Folders
                            <%}%>

                        <%}%>
                </div>
            </div>
            </div>
        <%}%>
        </div>
        </div>
        </div>
    </div>
    </div>
</div>
<%- include('../include/foot.ejs')%>