<%- include('./include/head.ejs',{title:'Novitious Dashboard'})%>
<%if(user.admin){%>
    <%- include('./include/adminNav.ejs') %>
<%}else{%>
    <%- include('./include/menu.ejs') %>
    <% var projects = user.projectPermissions %>
<%}%>
<body>
<div id="pageHeader" style="padding:35px 50px; width:100%;">
    <h1> <i class="fa fa-user-circle-o " ></i> Welcome <%= user.firstname %> <%if(user.admin){%>(Admin)<%}%></h1>
</div>
<div style="padding-top:50px;" class="center">
    <div style="text-align:center; padding-top:20px;padding-bottom:20px " class="row">
    <%for(var i = 0; i < projects.length; i++){
        var id;
        var name;
    %>
            <%if(user.admin){
                id = projects[i].id;
                name = projects[i].name;
                var renameJson = JSON.stringify({projectId: id,name:projects[i].name,type:'Project'});
            %>
        <div style="text-align:left;" class="col">
            <div style="text-align:center" class="dropdown">
                <button style = "background-color:transparent; font-size:16px" class="btn btn-lg dropdown-toggle" type="button" id="projSettings" data-toggle="dropdown" aria-haspopup ="true" aria-expanded="false">
                    <i class="fa fa-cog"></i> Options
                </button>
                <div class="dropdown-menu" aria-labelledby="projSettings">
                    <button type="button" onclick="modal.display('rename',<%=renameJson%>)" class="dropdown-item"><i class="fa fa-pencil"></i> Rename</button>
                    <form action="/projects/project/<%= id%>/delete%>" method="post">
                        <button type="submit" class="dropdown-item"><i class="fa fa-minus-square-o"></i> Delete</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <% var obj = projects[i]
                        var jsonProject = JSON.stringify(obj);
                    %>
                    <button type="button" onclick="modal.perform('edit project perm',<%=jsonProject%>)" class="dropdown-item"><i class="fa fa-user"></i> Permissions</button>
                </div>
            </div>

            <%}else{%>
                id = projects[i].projectId;
                name = projects[i].projectName;
            <%}%>
            <a style = "text-decoration: none; color:#343a40;" href="/projects/project/<%= id %>">
                <div style="text-align:center;">
                    <i class="fa fa-archive fa-3x"></i>
                    <br>
                    <b>Project <%= name%></b>
                </div>
            </a>

        </div>
    <%}%>
    </div>
</div>
<%- include('./include/foot.ejs')%>
